<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="admincss.css">
  <link rel="stylesheet" href="styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <title>company</title>
</head>

<body class="bodycolor">
  <div class="navbar">
    <div class="icon">
      <h3 class="logo" behavior="scroll" direction="LEFT" scrollamount="1"> <a href="/sap"
          class="link_main">SELF&nbsp;ANALYSIS&nbsp;&amp;&nbsp;PLACEMENT</a></h3>
    </div>

    <div class="menu">
      <!-- <ul>
            <li><a href="/login" style="color: white;">LOGIN</a></li>
            <li><a href="/database_input"style="color: white;">ADD NEW</a></li>
            <li><a href="/admin"style="color: white;">UPDATE COMPANIES</a></li>
            <li><a href="/userinfo"style="color: white;">USER-INFO</a></li>
            <li><a href="/login"style="color: white;">LOG-OUT</a></li>
            <li><a href="/notification"style="color: white;">SEND NOTIFICATION</a></li>
        </ul> -->
      <ul>
        <!-- <li><a href="/sap">HOME</a></li> -->
        <!-- <li><a href="#">CONTACTS</a></li> -->
        <!-- <li><a href="/login" style="color: white;">LOGIN</a></li> -->
        <!-- <li><a href="/Profile"style="color: white;">REGISTER</a></li> -->
        <li><a href="/database_input" style="color: white;">ADD NEW</a></li>
        <li><a href="/admin" style="color: white;">UPDATE COMPANIES</a></li>
        <li><a href="/all_clg_admin" style="color: white;">COLLEGE_ADMINS</a></li>
        <!-- <li><a href="#"style="color: white;">SEND NOTIFICATION</a></li> -->
        <!-- <li><a href="/all_student_info" style="color: white;">USER-INFO</a></li> -->
        <li><a href="/clg_admin" style="color: white;">LOG-OUT</a></li>

      </ul>
    </div>
  </div>
  <div class="connect">
    <div class="search">
      <input type="search" name="search" id="search">
      <button class="btn btn-primary" type="submit">Search Company</button>
    </div>
  </div>
  <section>
    <div class="heading">
      <h1>This is Admin Page </h1>
      <!-- <h2>Here college admin can view their students, send message to them personally or combined.</h2> -->
    </div>
  </section>


</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>